<h1>Log-In</h1>

 <h2>A page to Log-in to Mustang books</h2>

 <p>Log-in fields must be filled out completely</p>
<% if local_assigns.has_key? :status_msg %>
    <p><%= status_msg %></p>
<% end %>

<%= form_with url: new_log_in_path, local: true, method: :post do %>

 <div>
        <%= label_tag "username" %>
        <%= text_field_tag "username", new_log_in.fetch(:username, nil) %>
    </div>
    <div>
        <%= label_tag "password" %>
        <%= text_field_tag "password", new_log_in.fetch(:password, nil) %>
    </div>
<%= submit_tag "Submit Information" %>
 <% end %>
 





 <p><%= link_to "Home", home_path %></p>