<h1>Sign-Up</h1>

 <h2>A page to Sign-Up to Mustang books</h2>

 <p>Sign-up fields must be filled out completely</p>
 
<% if local_assigns.has_key? :status_msg %>
    <p><%= status_msg %></p>
<% end %>



 <%= form_with url: new_sign_up_path, local: true, method: :post do %>

    <div>
        <%= label_tag "username" %>
        <%= text_field_tag "username", new_sign_up.fetch(:username, nil) %>
    </div>
    <div>
        <%= label_tag "email" %>
        <%= text_field_tag "email", new_sign_up.fetch(:email, nil) %>
    </div>
    <div>
        <%= label_tag "password" %>
        <%= text_field_tag "password", new_sign_up.fetch(:password, nil) %>
    </div>
<%= submit_tag "Submit Information" %>
 <% end %>
 



 <p><%= link_to "Home", home_path %></p>