<% @order.cart_items.each do |item| %>
     <hr class="solid">
    <%= link_to image_tag(item.book.assetlabel, height: 200), book_path(item.book_id)%><br></p> 
    <div class="container">
       <h2><%= link_to item.book.title, book_path(item.book_id)%></h2>
       <p>By <%= item.book.author %></p>
       <h5><%= item.book.genre %> | <%= number_to_currency(item.book.price)%> </h5>
    
    
        <%= form_for item, remote: true do |f| %>
           <%= f.hidden_field :book_id, :value => item.book.id %>
           <%= f.number_field :quantity, :value => item.quantity.to_i %>
           <%= f.submit "Update"%>
        <%= link_to "Remove", cart_item_path(item), method: :delete, remote: true%> 
       <% end %>
      <p>Subtotal: <%= number_to_currency(item.total) %></p> 
    <br>
    </div>
 <% end %>
<hr class="solid">