<head>
<style>
img {
  float: left; padding-right: 50px;
}

</style>
</head>
<body>
<div>



<h1> Checkout</h1>
<%= form_with model: @order, url: orders_path, method: :post, local: true, scope: :order do |f| %> 
  <hr class="solid"> 
  
   <h2> Shipping Address</h2>
   <% invalid = @order.errors.include?(:email) %> 
    <div class="form-group"> <!-- class -->
    <%= f.label :Electronic_Delivery%><br>
    <%= f.email_field :email, class: "form-control #{'is-invalid' if invalid}" %>
    <% if invalid %>
        <div class="invalid-feedback d-block">
          <% @order.errors.full_messages_for(:email).each do |error_message| %>
            <%= error_message %>.
          <% end %>
        </div>
      <% end %>
    </div> <!-- class -->
  <hr class="solid"> 

  <h2> Billing Information</h2>
  <% invalid = @order.errors.include?(:credit_card_number) %> 
  <div class="form-group"> <!-- class -->
    <%= f.label :card_number%><br>
    <%= f.text_field :credit_card_number, class: "form-control #{'is-invalid' if invalid}"%>
      <% if invalid %>
        <div class="invalid-feedback d-block">
          <% @order.errors.full_messages_for(:credit_card_number).each do |error_message| %>
            <%= error_message %>.
          <% end %>
        </div>
      <% end %>
  </div> <!-- class -->
  
  <% invalid = @order.errors.include?(:exp_month) %> 
  <div class="form-group">
    <%= f.label :Expiration_date %><br>
    <%= f.select :exp_month, 1..12, class: "form-control #{'is-invalid' if invalid}"%>
      <% if invalid %>
        <div class="invalid-feedback d-block">
          <% @order.errors.full_messages_for(:exp_month).each do |error_message| %>
            <%= error_message %>.
          <% end %>
        </div>
      <% end %>
    <%= f.select :exp_year, Date.today.year.. 8.years.from_now.year %>
    <!-- <%= f.month_field :exp_date, class: "form-group" %> --> 
  </div>

  <% invalid = @order.errors.include?(:security_code) %> 
  <div class="form-group">
    <%= f.label :Security_Code %><br>
    <%= f.text_field :security_code, class: "form-control #{'is-invalid' if invalid}"%>
      <% if invalid %>
        <div class="invalid-feedback d-block">
          <% @order.errors.full_messages_for(:security_code).each do |error_message| %>
            <%= error_message %>.
          <% end %>
        </div>
      <% end %>
  </div>

  <hr class="solid">

  <div class="card-header bg-light text-dark">
        <h2> Delivered Electronically </h2>
  </div>
  <div class="card-body">
    <%current_cart.cart_items.each do |item| %>
        <%= link_to image_tag(item.book.assetlabel, height: 150)%><br></p> 
        <div class="container">
          <h4><%= item.book.title%></h4>
          <p>By <%= item.book.author %></p>
          <h6><%= item.book.genre %> | <%= number_to_currency(item.book.price)%> </h6>
          <p>Subtotal: <%= number_to_currency(item.total) %></p>
        <br>
        </div>
    <% end %> 
  <div class="card-footer">


  <%= f.submit "Place Order", class: "btn btn-block btn-primary"%>
<% end %>

