
<h1> Checkout</h1> 
<%= form_with model: @order, url: orders_path, method: :post, local: true, scope: :order do |f| %> 

<hr class="solid">
<h2> Shipping Address</h2>
  <div>
    <%= f.label :Electronic_Delivery%><br>
    <%= f.email_field :buyer_name%>
  </div> 
<hr class="solid">

<h2> Billing Information</h2>
  <div>
    <%= f.label :card_number%><br>
    <%= f.text_field :credit_card_number%>
  </div>

  <div>
    <%= f.label :Expiration_date %><br>
    <%= f.month_field :exp_date%> 
  </div>

  <div>
    <%= f.label :Security_Code %><br>
    <%= f.text_field :security_code%>
  </div>
<hr class="solid">

<!-- <h2> Delivered Electronically </h2>
<% @cart_items.each do |item| %>
     <hr class="solid">
    <%= image_tag(item.book.assetlabel, height: 200)%><br></p> 
    <div class="container">
       <h2><%= item.book.title%></h2>
       <p>By <%= item.book.author %></p>
       <h5><%= item.book.genre %> | <%= number_to_currency(item.book.price)%> </h5>
       <% end %>
      <p>Subtotal: <%= number_to_currency(item.total) %></p> 
    <br>
    </div>
 <% end %>
<hr class="solid" > --> 

<%= f.submit "Submit" %>
<% end %>