<h1>Mustang Books</h1>

<%= link_to 'Add Product', new_book_path %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Genre</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% books.each do |b| %>
      <tr>
        <td><%= b.title %></td>
        <td><%= b.author %></td>
       <td><%= b.genre %></td>
       <td><%= b.price %></td>
       <td><%= link_to '🔎', book_path(b)  %></td>
       <td><%= link_to '🖋', edit_book_path(b)  %></td>
     </tr>
    <% end %>
  </tbody>
</table>