
<p style="text-align:center"><% if current_user.try(:admin?) %>
       <em><%= link_to 'Add New Product', new_book_path %></em>
<% end %></p>
<br>
<br>

<body style="background-color:white;">
<div class = "page-header">
<br>
</div>
<div class = "row">
<div class = "col-xs-12 col-m-6 col-md-4 col-lg-3">
</div>
</div>
<div class = "row">
<% books.each do |book| %>
<div class = "col-xs-12 col-m-6 col-md-4 col-lg-3">
</div>
<%end%>
<br>
</div>
<div class = "row">
<%books.each do |book|%>
<div class = "col-xs-12 col-m-6 col-md-4 col-lg-3 text-center">
    <p style="color:black"><b><i><%= book.title %></i></b></p>
    <%= link_to image_tag(book.assetlabel, height: 200, width: 120), book_path(book) %>
    <h6>$<%= book.price %></h6>
    <%= link_to 'Product Details', book_path(book) %>
    <br>
    <br>
    </div>
    <%end%>
    </div>
</body>