<h1>Add Product</h1>

<%= form_with model: book, url: books_path, method: :post, local: true, scope: :book  do |f| %>
    <div>
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>

    <div>
      <%= f.label :author %><br>
      <%= f.text_field :author %>
    </div>

    <div>
     <%= f.label :price %><br>
     <%= f.text_field :price %>
    </div>

    <div>
      <%= f.label :overview %><br>
      <%= f.text_field :overview %>
    </div>

    <div>
      <%= f.label :page_number %><br>
      <%= f.text_field :page_number %>
    </div>

    <div>
      <%= f.label :book_format %><br>
      <%= f.text_field :book_format %>
    </div>

    <div>
     <%= f.label :publication_date %><br>
     <%= f.text_field :publication_date %>
    </div>

    <div>
     <%= f.label :genre %><br>
     <%= f.text_field :genre %>
     </div>

    <div>
     <%= f.label :rating %><br>
     <%= f.text_field :rating %>
    </div>

  <div>
     <%= f.label "Book Photo"%><br>
     <%= f.file_field :avatar%>
    </div>


   <%= f.submit "Add Product" %>
  <% end %>
