<p>We welcome your Review. Please submit the form below to let us know what you think.</p>

<h2>Review</h2>

<% if local_assigns.has_key? :status_msg %>
    <p><%= status_msg %></p>
<% end %>


<%= form_with url: leave_leave_path, local: true, method: :post do %>
    <div>
        <%= label_tag "username" %>
        <%= text_field_tag "name", feedback.fetch(:name, nil) %>
    </div>

    <div>
        <%= label_tag "feedback_type" %>
    </div>
    <div>
        <%= label_tag "message" %><br />
        <%= text_area_tag "message", feedback.fetch(:message, nil), size: "27x7" %>
    </div>
    <%= submit_tag "Submit Review" %>
<% end %>

<p><%= link_to 'Book', book_path %></p>