<h1>Mustang Books</h1>

<p style="text-align:right">
<%= book.title %><br>
<%= book.author %><br>
<%= book.rating %><br>
<%= book.price %><br>
<%= " Add to Cart " %><br>
<%= " " %><br>
<%= " " %><br>
</p>

<p style="text-align:center">
<%= " " %><br>
<%= " " %><br>
<%= " " %><br>
<%= " " %><br>
<%= " " %><br>
<%= " " %><br>
<%= " " %><br>
<%= " " %><br>
<%= " " %><br>
<%= " " %><br>
<%= " " %><br>
<%= " " %><br>
<%= " Book Summary " %><br>
</p>

<div class="container">
<%= book.overview %><br>
<%= " " %><br>
<%= " " %><br>
<%= " " %><br>
<%= " " %><br>
</div>

<p style="text-align:center">
<%= " Publication Date: " %><br>
</p>

<p style="text-align:center">
<%= " Total Pages: " %><br>
<%= " " %><br>
<%= " " %><br>
<%= " " %><br>
<%= " " %><br>
</p>

<p style="text-align:left-center">
<%= " Customer Reviews: " %><br>
</p>

<p style="text-align:left-center">
<%= " Title: " %><br>
<%= " Body: " %><br>
</p>