

<head>
<style>
img {
  float: left; padding-right: 50px;
}

</style>
</head>
<body>
<div>

<h1 style="font-size:75px"><%=book.title %></h1>

<% if book.assetlabel %>
<%= image_tag( book.assetlabel, height: 600) %><br></p>
<%end%>

<div class="container">
<%= book.overview %>
</div>
<br>
<br>
<% if current_user.try(:admin?)== false %>
    <td>
      <%= form_for @cart_item, remote: true  do |f|%> 
      <%= f.hidden_field :book_id, :value => book.id %>
      <%= f.number_field :quantity, :value => 1, :min =>  1%> 
      <%= f.submit "Add to Cart "%> 
      <br>
      <%= link_to "View My Cart", carts_path%>
      <div id="cart"><%= render 'carts/cart'%></div>
      <% end %>
    </td>
<%end%>
<br>

<% if current_user.try(:admin?) == false %>
    <td>
      <%= form_for @wishlist_item, remote: true do |f| %>
        <%= f.hidden_field :book_id, :value => book.id %>
        <%= f.number_field :quantity, :value => 1, :min => 1%>
        <%= f.submit "Add to Wishlist"%>
        <br>
        <%= link_to 'View Wishlist', wishlists_path %>
        <div id="wishlist"><%= render 'wishlists/wishlist'%></div>
       <% end %>
    

    <% end %>


      <div><%= book.author%></div>
      <div><%= book.page_number %> pages </div>
      <div><%= book.book_format %></div>
      <div><%= book.genre %></div>
      <div><%= book.publication_date %></div>
      <div>$<%= book.price %> (tax included in price)</div>
      

      <div>
				<%= link_to "Add a New Review", new_review_path, class: "btn-custom" %>
			</div>
     
</td>
<br>
</div>
</body>

</html>
