<h1><%= book.title %> Mustang Books</h1>

<p style="text-align:center">
<%= book.title %><br>
<%= book.author %><br>
<%= book.rating %><br>
<%= book.price %>
</p>

<p style="text-align:center">
 <%= book.overview %><br>
</p>