

<head>
<style>
img {
  float: left; padding-right: 50px;
}

</style>
</head>
<body>
<div>

<p>
<h1 style="font-size:75px"><%= book.title %></h1>
<%= image_tag( book.assetlabel, height: 500) %><br></p>
<div class="container">
<%= book.overview %></div>
<br>
<p> <%= " Total Pages: " %></p>
<p><%= " Publication Date: " %></p>
<p><%= " Customer Reviews: " %></p>
</div>
</body>
</html>