

<head>
<style>

h1 { color: #FF0000; }
 
img {
  float: left;
  margin: 20px;
}
P { text-align: center }
.sidenav {
  margin-top: 20px; /* Stay away from top navbar */
  
  z-index: 1;
  top: 20px;
  right: 20px;
  background: #eee;
  overflow-x: hidden;
}


</style>
</head>
<body>
<div>

<h1 style="font-size:65px";><%=book.title %></h1>

<% if book.assetlabel %>
<%= image_tag( book.assetlabel, height: 600) %><br></p>
<%end%>
 <% if book.avatar.attached? %>

 <image src="<%=(url_for(book.avatar))%>" style="float:left;width:320px;height:500px;" >

 <%end%>


 <p> <%= book.overview %></p>

<br>
<br>

  
<% if current_user.try(:admin?)== false %>
    <td>
      <%= form_for @cart_item, remote: true  do |f|%> 
      <%= f.hidden_field :book_id, :value => book.id %>
      <%= f.number_field :quantity, :value => 1, :min =>  1%> 
      <%= f.submit "Add to Cart "%> 
      <br>
      <%= link_to "View My Cart", carts_path%>
      <div id="cart"><%= render 'carts/cart'%></div>
      <% end %>
    </td>
<%end%>
<br>
 <br>
<% if current_user.try(:admin?) == false %>
    <td>
      <%= form_for @wishlist_item, remote: true do |f| %>
        <%= f.hidden_field :book_id, :value => book.id %>
        <%= f.number_field :quantity, :value => 1, :min => 1%>
        <%= f.submit "Add to Wishlist"%>
        <br>
        <%= link_to 'View Wishlist', wishlists_path %>
        <div id="wishlist"><%= render 'wishlists/wishlist'%></div>
       <% end %>
    <% end %>

    <div class="sidenav">
<div class="card-header bg-light text-dark">
<div class="pull-right" style="margin: 10px">
    <div class="pull-right" style="margin: 5px">
      
      <h4> Book Information</h4> 
      <hr class="solid">
    <div><%= book.author%></div>
      <div><%= book.page_number %> pages </div>
      <div><%= book.book_format %></div>
      <div><%= book.genre %></div>
      <div><%= book.publication_date %></div>
      <div>$<%= book.price %> (tax included in price)</div>
      

      <div>
				<%= link_to "Add a Review", new_review_path, class: "btn-custom" %>
			</div>
     
         _________________________________________________
      </p> 
   </div>   
</td>



</body>

</html>
 
