

<head>
<style>
img {
  float: left; padding-right: 50px;
}

</style>
</head>
<body>
<div>

<p>
<h1 style="font-size:75px"><%= book.title %></h1>
<%= image_tag( book.assetlabel, height: 500) %><br></p>
<div class="container">
<%= book.overview %>

</div>

<% if current_user.try(:admin?)== false %>
    <td>
      <%= form_for @cart_item, remote: true  do |f|%> 
      <%= f.hidden_field :book_id, :value => book.id %>
      <%= f.number_field :quantity, :value => 1, :min =>  1%> 
      <%= f.submit "Add to Cart "%> 
      <br>
      <%= link_to "View My Cart", carts_path%>
      <br>
      <br>
      <div id="cart"><%= render 'carts/cart'%></div>
      <br>
      <div><%= book.author%></div>
      <br>
      <div><%= book.page_number %> pages </div>
      <br>
      <div><%= book.book_format %></div>
      <br>
      <div><%= book.publication_date %></div>
      <br>
      <div>$<%= book.price %> (tax included in price)</div>
      <% end %>
    </td>
<%end%>
<% if current_user.try(:admin?)== true %>
  <td>
  <br>
  <div><%= book.author%></div>
      <br>
  <div><%= book.page_number %> pages </div>
      <br>
      <div><%= book.book_format %></div>
      <br>
      <div><%= book.publication_date %></div>
      <br>
      <div>$<%= book.price %> (tax included in price!)</div>
    <% end %>
</td>
<br>

</div>
</body>
</html>
 
 
