<!DOCTYPE html>
<html>
  <head>
    <title>Mustang Books</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <%= link_to 'Mustang Books', root_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
           
       
   
          <% if current_user.try(:admin?) %>
             <li class="nav-item <%= active_class(books_path) %>">
              <%= link_to "Book Inventory", books_path, class: 'nav-link' %>
            </li>
          <% else %>
          <li class="nav-item <%= active_class(books_path) %>">
              <%= link_to "Book Inventory", books_path, class: 'nav-link' %>
            </li>
             <li class="nav-item <%= active_class(root_path) %>">
              <%= link_to 'My Cart', carts_path, class: 'nav-link' %>
            </li>
            <li class="nav-item <%= active_class(root_path) %>">
              <%= link_to 'My Wishlist', root_path, class: 'nav-link' %>
            </li>
            <li class="nav-item <%= active_class(root_path) %>">
              <%= link_to 'My Orders', orders_path, class: 'nav-link' %>
            </li>
          <% end %>
        </ul>




        <ul class="navbar-nav">
          <% if user_signed_in? %>
             <li class="nav-item <%= active_class(edit_user_registration_path) %>">
              <%= link_to "Hi, #{current_user.username}", edit_user_registration_path, class: 'nav-link' %>
            </li>
             <li class="nav-item <%= active_class(destroy_user_session_path) %>">
              <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
            </li>
          <% else %>
             <li class="nav-item <%= active_class(new_user_session_path) %>">
              <%= link_to 'Log-In', new_user_session_path, class: 'nav-link' %>
            </li>
            <li class="nav-item <%= active_class(new_user_registration_path) %>">
              <%= link_to 'Sign-Up', new_user_registration_path, class: 'nav-link' %>
            </li>
          <% end %>
        </ul>
        
      </div>
    </nav>
    <ul>

    <% flash.each do |key, message| %>
      <p><%= message %></p>
    <% end %>



 <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-22">
          <%= yield %>
        </div>
      </div>
    </div>

  </body>
</html>